<?php

    $client_id = null;

    $available_groups = $vkh->getAdvertisableGroups();

    if ( !is_array($available_groups) ) {
        die('No groups');
    }

    $group_id = $available_groups[0]['id'];

    // $group_id = $vkh->getGroupId(); // ID активной группы

    // Статика
    $groups_options_HTML = generateOptionsHTML($available_groups, 'id', 'name');
    $ad_format_options_HTML = generateOptionsHTML($ad_formats, 'key', 'element', '', '', 9);
    $cost_type_options_HTML = generateOptionsHTML($cost_types, 'key', 'element', '', '', $cost_type);
    $events_options_HTML = generateOptionsHTML($events, 'key', 'element');
    $sexes_options_HTML = generateOptionsHTML($sexes, 'key', 'element');

    $is_agency = $vkh->isAgency();

    if ($is_agency) {
        $ad_clients = $vkh->getAdsClients();
        $client_id = $ad_clients[0]['id'];
        $ad_clients_options_HTML          = generateOptionsHTML($ad_clients, 'id', 'name');
    }

    // Запросы
    $ad_campaigns = $vkh->getAdsCampaigns($client_id);
    usleep(500000); // Ждем полсекунды
    $ads_categories = $vkh->getAdsCategories();
    //usleep(500000); // Ждем полсекунды
    //$ads_target_groups = $vkh->getAdsTargetGroups($client_id);
    //usleep(500000); // Ждем полсекунды
    //$interest_categories = $vkh->getAdsSuggestions('interest_categories_v2');
    // Тяжелые запросы
    //$countries = $vkh->getCountries();
    //$regions = $vkh->getRegions(1); // По дефолту для Раисси
    //$cities = $vkh->getCities(1); // Сразу грузим для первого региона из списка

    $ad_campaigns_options_HTML            = generateOptionsHTML($ad_campaigns, 'id', 'name', '', '', $campaign_id);
    //$ads_categories_HTML = 
    //$ads_target_groups_options_HTML     = generateOptionsHTML($ads_target_groups, 'id', 'name', 'audience_count');
    //$countries_options_HTML             = generateOptionsHTML($countries, 'id', 'title', '', '', 1);
    //$regions_options_HTML               = generateOptionsHTML($regions, 'id', 'title');
    //$cities_options_HTML                = generateOptionsHTML($cities, 'id', 'title');
    //$interest_categories_options_HTML   = generateOptionsHTML($interest_categories, 'id', 'name');

?>
<form name="ad_params" method="POST" onsubmit="return false;">
    <div class="form-row">
        <div class="form-group col-md-12">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
        <label for="group_select">Группа:</label>
        <select class="form-control show-tick" name="group" id="group_select">
            <?php
                echo $groups_options_HTML;
            ?>
        </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="message">Текст:</label>
            <textarea class="form-control" name="message" id="message" rows="17">Кошечка играет в саду.</textarea><br>
            <button type="button" class="btn btn-primary btn-block" id="save_message" data-linked-text="message">СОХРАНИТЬ</button>
        </div>
        <div class="col-md-4">
            <label for="texts_list">Посты:</label>
            <div class="list-group" id ="texts_list">
                <button type="button" class="list-group-item list-group-item-action justify-content-between align-items-center d-flex active">
                    <span class="title">...</span><span class="badge badge-light">0</span>
                </button>
                <?php 
                for ($i=0; $i<9; $i++) {
                    echo '<button type="button" class="list-group-item list-group-item-action justify-content-between align-items-center d-flex"><span class="title">ПУСТО</span><span class="badge badge-primary">0</span></button>';
                } 
                ?>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-row">
                <div class="col-auto mr-auto">
                    <label for="attachments_list">Вложения:</label>
                </div>
                <div class="col-auto">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="group_attachments_switch">
                        <label class="custom-control-label" for="group_attachments_switch">Группировать</label>
                    </div>
                </div>
            </div>  
            <div class="list-group" id="attachments_list">
                <button type="button" class="list-group-item list-group-item-action" data-id="1">ПУСТО</button>
                <button type="button" class="list-group-item list-group-item-action" data-id="2">ПУСТО</button>
                <button type="button" class="list-group-item list-group-item-action" data-id="3">ПУСТО</button>
                <button type="button" class="list-group-item list-group-item-action" data-id="4">ПУСТО</button>
                <button type="button" class="list-group-item list-group-item-action" data-id="5">ПУСТО</button>
                <button type="button" class="list-group-item list-group-item-action" data-id="6">ПУСТО</button>
                <button type="button" class="list-group-item list-group-item-action" data-id="7">ПУСТО</button>
                <button type="button" class="list-group-item list-group-item-action" data-id="8">ПУСТО</button>
                <button type="button" class="list-group-item list-group-item-action" data-id="9">ПУСТО</button>
                <button type="button" class="list-group-item list-group-item-action" data-id="10">ПУСТО</button>
            </div>
        </div>
    </div>
    <?php if ($is_agency): ?>
        <div class="form-group">
                <label for="account_select">Клиенты рекламного агенства:</label>
                <select class="form-control show-tick" name="accounts" id="account_select">
                    <?php
                        echo $ad_clients_options_HTML;
                    ?>
                </select>
        </div>
    <?php endif; ?>
    <div class="form-row">
        <div class="form-group col-md-4">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
        <label for="campaign_select">Рекламная кампания:</label>
        <select class="form-control show-tick" name="campaign" id="campaign_select">
            <?php
                echo $ad_campaigns_options_HTML;
            ?>
        </select>
        </div>
        <div class="form-group col-md-8">
            <label for="category_select">Тематика объявлений:</label>
            <select class="form-control show-tick" name="category" id="category_select" data-live-search="true" data-size="10">
                <?php
                    foreach ($ads_categories as $category_info) {
                        $id = $category_info['id'];
                        $name = $category_info['name'];
                        
                        echo "<optgroup label=$name>";

                        foreach ($category_info['subcategories'] as $subcategory_info) {

                            $subc_id = $subcategory_info['id'];
                            $subc_name = $subcategory_info['name'];

                            $option_dom = "<option value= \"$subc_id\"";

                            if ($category_id == $subc_id) {
                                $option_dom = $option_dom . " selected";
                            }
                            $option_dom = $option_dom . ">$subc_name</option>";
                            echo $option_dom;
                        }

                        echo "</optgroup>";
                    }
                ?>
            </select>
        </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-7">
        <label for="ad_format_select">Формат объявления:</label>
        <select class="form-control show-tick" name="ad_format" id="ad_format_select">
            <?php
                echo $ad_format_options_HTML;
            ?>
        </select>
    </div>
        <div class="form-group col-md-3">
            <label for="cost_type_select">Способ оплаты:</label>
            <select class="form-control show-tick" name="cost_type" id="cost_type_select">
                <?php
                    echo $cost_type_options_HTML;
                ?>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="cost_per_type_text">Цена:</label>
            <div class="input-group">
                <input type="text" class="form-control" name="cost_per_type" id="cost_per_type_text" value=<?php echo (!empty($cost_per_type) ? $cost_per_type : "\"\""); ?>>
                <div class="input-group-append">
                    <span class="input-group-text">₽</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <label for="auds_select">Аудитории:</label>
        <select class="form-control" name="auds[]" id="auds_select" multiple data-actions-box="true" data-size="10" data-live-search="true" disabled>
                <?php
                    echo $ads_target_groups_options_HTML;
                ?>
        </select>
    </div>
    <div class="form-row">
            <div class="form-group col-md-6">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <label>Аудитория для сохранения:</label>
                <select class="form-control" name="auditory_for_saving" data-live-search="true" data-size="10">
                    <?php
                        echo $ads_target_groups_options_HTML;
                    ?>
                </select>
            </div>
            <div class="form-group col-md-5">
                <label>События:</label>
                <select class="form-control" name="auditory_saving_events" multiple data-actions-box="true" data-size="10">
                    <?php   
                        echo $events_options_HTML;
                    ?>
                </select>
            </div>
            <div class="form-group col-md-1 align-self-end justify-content-end">
                <button type="button" class="btn btn-primary" name="add_auditory_for_saving">+</button>
                <button type="button" class="btn btn-danger" name="delete_auditory_for_saving">-</button>
            </div>
        </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="sex_select">Пол:</label>
            <select class="form-control show-tick" name="sex" id="sex_select">
                <?php 
                    echo $sexes_options_HTML;
                ?>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="age_from">Возраст от:</label>
            <div class="input-group">
                <input type="text" class="form-control" name="age_from" id="age_from" value=<?php echo (!empty($age_from) ? $age_from : "\"\""); ?>>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="age_to">Возраст до:</label>
            <div class="input-group">
                <input type="text" class="form-control" name="age_to" id="age_to" value=<?php echo (!empty($age_to) ? $age_to : "\"\""); ?>>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
                <div class="form-row">
                    <div class="col-auto mr-auto">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <label for="country_select">Страна:</label>
                    </div>
                    <div class="col-auto">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="all_countries_switch">
                            <label class="custom-control-label" for="all_countries_switch">Все страны</label>
                        </div>
                    </div>
                </div>
                <select class="form-control show-tick" name="country" id="country_select" data-live-search="true" data-size="10">
                    <?php
                        echo $countries_options_HTML;
                    ?>
                </select>
        </div>
        <div class="form-group col-md-6">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <label for="region_select">Регион:</label>
                <select class="form-control show-tick" name="regions" id="region_select" data-live-search="true" data-size="10">
                <option disabled selected value>Выберите регион</option>
                <?php
                    echo $regions_options_HTML;
                ?>
                </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-row">
                <div class="col-auto mr-auto">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <label for="cities_select">Города:</label>
                </div>
                <div class="col-auto">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="all_cities_switch">
                        <label class="custom-control-label" for="all_cities_switch">Все города</label>
                    </div>
                </div>
            </div>
                <select class="form-control show-tick" name="cities" id="cities_select" data-live-search="true" multiple data-actions-box="true" data-size="10">
                    <?php
                        echo $cities_options_HTML;
                    ?>
                </select>
        </div>
        <div class="form-group col-md-6">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <label for="cities_not_select">Исключить города:</label>
                <select class="form-control show-tick" name="cities_not" id="cities_not_select" data-live-search="true" multiple data-actions-box="true" data-size="10">
                    <?php
                        echo $cities_options_HTML;
                    ?>
                </select>
        </div>
    </div?
    <div class="form-group">
        <label for="groups">Группы (id):</label>
        <div class="input-group">
            <input type="text" class="form-control" name="groups" id="groups" value=<?php echo (!empty($groups) ? $groups : "\"\""); ?>>
        </div>
    </div>
    <div class="form-group">
        <label for="groups_not">Исключить группы (id):</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="selected-group-id" title="ID выбранной группы"><?php echo $group_id; ?>,</span>
            </div>
            <input type="text" class="form-control" name="groups_not" id="groups_not" value=<?php echo (!empty($group_id_) ? $group_id_ : "\"\""); ?>>
        </div>
    </div>
    <div class="form-group">
        <label for="groups_active">Группы, в которых пользователь проявлял активность (id):</label>
        <div class="input-group">
            <input type="text" class="form-control" name="groups_active" id="groups_active" value=<?php echo (!empty($groups_active) ? $groups_active : "\"\""); ?>>
        </div>
    </div>
    <div class="form-group">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <label for="interest_categories_select">Категории интересов:</label>
            <select class="form-control show-tick" name="interest_categories" id="interest_categories_select" data-live-search="true" multiple data-actions-box="true" data-size="10">
            <?php
                echo $interest_categories_options_HTML;
            ?>
            </select>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="travellers" value="true"> Путешественники</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="publish" value="true"> Сразу запустить</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="add_utm" value="true"> Прицепить к ссылкам UTM-метки</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="real" value="true"> Выполнить реальные действия</label>
    </div>
    <div data-alerts="alerts" data-titles='{"info": "<em>Успех!</em>", "info": "<em>Информация</em>", "warning": "<em>Предупреждение!</em>", "error": "<em>Ошибка!</em>"}'></div>
    <div class="form-row justify-content-md-center">
    <div class="col-md-6 align-self-center">
    <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit_form_button">Создать</button>
    </div>
    </div>
</form>
<br>
