<form action="">
    ID приложения:<br>
    <input type="text" name="app_id"><br>
    Секретный ключ:<br>
    <input type="text" name="app_secret"><br><br>
    <input type="submit" value="Получить токен">
</form>