<form action="">
        Номер рекламного кабинета:<br>
        <input type="text" name="account_id" size="84"><br>
        <label><input type="checkbox" name="agency" value="true"> Кабинет рекламного агенства</label><br><br>
        ID группы:<br>
        <input type="text" name="group_id" size="84"><br><br>
        <input type="submit" value="Сохранить параметры">
</form>