<div class="form-row">
    <div class="form-group col-md-6">
        <label>Аудитория для сохранения:</label>
        <select class="form-control" name="auditory_for_saving" data-live-search="true">
            {options_1}
        </select>
    </div>
    <div class="form-group col-md-5">
        <label>События:</label>
        <select class="form-control" name="auditory_saving_events" multiple data-actions-box="true" data-size="5">
            {options_2}
        </select>
    </div>
    <div class="form-group col-md-1 align-self-end justify-content-end">
        <button type="button" class="btn btn-primary" name="add_auditory_for_saving">+</button>
        <button type="button" class="btn btn-danger" name="delete_auditory_for_saving">-</button>
    </div>
</div>